@import "external/bulma/bulma";

$input-border-color: transparent;
$input-shadow: none;
$svg-info-color: invert(36%) sepia(84%) saturate(902%) hue-rotate(135deg) brightness(94%) contrast(101%);

.container {
  padding-top: 1.5rem;
}

.burger {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  align-items: center;
}

.show-card {
  .card-header {
    max-height: 1.5em;
    background-color: $primary-dark;
    justify-content: center;
    .card-header-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      align-content: center;

    }
  }

  .card-content {
    margin: 0;
    padding: 0.25em;

    .show-item {
      font-size: .75em;
    }

    .subtitle {
      font-size: .75em;
    }
  }
}

/* FIXME: Inconsistent naming */
.card-season {
  .card-season-overview {
    font-size: 1em;
    height: 5em;
    position: relative;
    overflow: hidden;
  }
  .card-season-overview-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    // margin: 0;
    padding: 5px 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, hsla(171, 100%, 41%, 0.32));
  }
}

.episode-box {
  .column {
    font-size: 0.75rem;
    max-width: 33%;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}
// #bynger_cal > thead > tr > th:nth-child(1)
// document.querySelector("body > div > main > div > table > tbody > tr:nth-child(1)")
// https://codepen.io/alvarotrigo/pen/MWQyvbd
#bynger_cal {
  //max-width: 600px;
  //table-layout: fixed;
  > thead {
    > tr {
      > th {
        // color: #AAAAAA;
        font-size: 22px;
        font-weight: 600;
        padding: 0 1rem;
      }
    }
  }
  > tbody {
     > tr {
       height: 1.5rem;
       > td {
         text-align: center;
         vertical-align: middle;
         justify-content: center;
         font-size: 18px;
         padding: 1rem 1.5rem;
       }
    }
  }
}

#search-modal {
  padding-bottom: .25em !important;
}

.calendar-container {
  width: 95%;
}

.calendar-base {
  // height: 500px;
  border-radius: 20px;
}

.calendar-left {
  > .card {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    min-height: 300px;

    > .card-header-title {
      > .date-num-name-box {
        display: flex;
        align-items: center;
        //justify-content: center;
        flex-direction: column;
      }
    }

    > .card-content {
      flex: 1;
      padding: .5rem;

      > .content {
        > .subtitle {
          color: $primary-dark;
          margin-bottom: .25rem;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: solid;
        }

        > .schedule-item {
          border-bottom: none;
          padding: .25rem .25rem;
          overflow: hidden;
        }

      }
    }
  }
}

.date-month-name {
  font-size: 20px;
  font-weight: 300;
}
.date-day-num {
  margin-top: -30px;  // Dont like this.
  font-size: 120px;
  font-weight: $weight-bold;
  // color: $background;
}
.date-day-name {
  margin-top: -30px;  // Not a fan.
  font-size: 40px;
  font-weight: $weight-semibold;
}

.day-link {
  cursor: pointer;
  font-weight: $weight-semibold;
}

.events-tag {
  position: absolute;
  vertical-align: super;
  filter: $svg-info-color;
  content:url('data:image/svg+xml; utf8, <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 8L7 6V16L12 18.5L17 16V6L12 8ZM15 8.95407L12 10.1541L9 8.95407V14.7639L12 16.2639L15 14.7639V8.95407Z" fill="currentColor" /></svg>');
}